.ModuleOverview {
  width: 40%;
  height: 200px;
  border: 2px solid #004225;
  margin: 32px;
  background-color: #fff;
  box-shadow: 16px 15px 28px -13px rgba(0,0,0,1);
}

.Title {
  font-size: 20px;
  font-weight: normal;
  margin-left: 16px;
  margin-bottom: 16px;
}

.ContentContainer {
  display: flex;
  align-items: center;
}

.ContentContainer p {
  width: 70%;
  margin-left: 16px;
  margin-right: 8px;
}