.Button {
  box-shadow: 2px 3px 1px 0px rgba(0,0,0,0.75);
  cursor: pointer;
  font-size: 16px;
}

.Button:disabled {
  box-shadow: none;
  background-color: #d3ddd7;
  border: 1px solid #31121a;
  color: #31121a;
  cursor: default;
}

.Round {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.Rectangular {
  border-radius: 4px;
  padding: 4px;

}

.WhiteGreen {
  background-color: #fff;
  color: #004225;
  border: 2px solid #004225;
}

.GreenWhite {
  background-color: #004225;
  color: white;
  border: 2px solid white;
}

.Rectangular.Small {
  height: 30px;
  width: 80px;
}

.Rectangular.Medium {

}

.Rectangular.Large {
  height: 50px;
  width: 120px;
}