.TableContainer {
  width: 100%;
  margin: 32px;
  border: 2px solid #004225;
  background-color: white;
}

.Table {
  padding-top: 32px;
  width: 100%;
  background-color: #fff;
}

.Table thead {
  border-bottom: 1px solid #004225;
}

.Row {
  vertical-align: 0;
  border-bottom: 1px solid #004225;
}

.Header {
  box-sizing: border-box;
  vertical-align: 0;
  text-align: center;
  padding: 8px 0 0 0;
  color: #004225;
  box-sizing: border-box;
  border-right: 1px solid #004225;
  border-left: 1px solid #004225;
}

.Body {
}